.row_Card{
    background-color: rgb(216, 216, 216);
}




.div2-contador{
    
    border: 0.1rem solid #FF7FA5 ;
    border-radius: 0.2rem;
   height: 0.9rem;
   
    width: 3rem;
    
    
}

.input_number{
   
 
    border:none;
    
    background-color: rgba(152, 195, 232, 0);

}



