
body {
margin-left: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: rgb(236, 200, 236);
}
h1{
  font-family: "Comfortaa",cursive;
}
h3{
  font-family: "Happy Monkey",serif;
}
h6{
  font-family: "Glass Antiqua",cursive;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  /* margin: espacio afuera del borde */
  margin: 0;
  /* espacio entre el borde y el contenido interior */
  padding: 0;
  /*  permite especificar el tamaño total del elemento
   de manera más intuitiva y fácil de entender */
  box-sizing: border-box;
 
}