/* .cardcarrito img{
    width: 4rem;
    height: 4rem;


} */
.cardcarrito{
    display: flex;
    justify-content: space-around;
}
.one-store{
  
    background-color: #fdd6e3;
    margin : 40px 0px;
   
}
.one-store img{
border-radius: 5%;
width: 50px;

}
.one-store h6{
    font-size: 25px;
}
.one-store h1{
    font-size: 20px;
}


