.div_login{
    margin: 0;
  padding: 0;
  border: none;
    display: flex;
    min-height: 27rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffa8ee;
    background-image: url('../../Img/bbblurry\ \(9\).svg');
    background-size: cover; /* Para cubrir todo el contenedor */
    background-position: center; 
}
.bi-backspace-fill {
    color:rgba(0, 0, 0, 0.533) !important;
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    left: 10px; 
    font-size: 1.5rem;
}
.icon_img{
    position: absolute;
    top: 1px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    right: 10px; 
    width: 15%;
}
.div_form{
    
    margin-top: -6rem;
    background-color: rgba(245, 245, 245, 0.177);
    padding: 4% 2%;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.8);
   
}
.div_form input{
    background-color: #8975ae8a;
    border: none;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.655);
    padding-left: 0.5rem;
}

