.carrito-div{
    background-color: rgb(229, 229, 229);
   padding: 5%;
}
.boton-comprar{
    display: flex;
    flex-direction: column;
    
    width: 100%;
}
.carrito-div h3{
    display: flex;
font-size: 10px;
padding-top: 10px;


}
@media (max-width: 600px) {
    
}

