i {
    color: white;

}

Row {
    margin-right: none !important;
}


.bg-body-tertiary {
    background-color: blueviolet;
}


.navbar-toggler-icon {
    font-size: 0.8rem;

}

.navbar-toggler:focus {
    box-shadow: none !important;

}

.link-style {
    text-decoration: none !important;
    color: black;
}

.imagen1 {
    width: 14%;
    margin-left: 0.8rem;
    padding: 0.1rem;
}

.btn-close {
    margin-right: 0% !important;
    font-size: 0.8rem;

}