i {
    color: white;

}

Row {
    margin-right: none !important;
}


.relative-example{
    position: sticky;
  top: 0;
  z-index: 999;

}
.bg-body-tertiary {
    background-color: blueviolet;
}


.navbar-toggler-icon {
    font-size: 0.8rem;

}

.navbar-toggler:focus {
    box-shadow: none !important;

}

.link-style {
    text-decoration: none !important;
    color: black;
}

.imagen1 {
    width: 14%;
    margin-left: 0.8rem;
   
}
.imagen2{
    width: 16%;
    margin-left: 0.8rem;
}
.btn-close {
    margin-right: 0% !important;
    font-size: 0.8rem;

}

.boton-closed{
background-color: rgba(255, 255, 255, 0);
border: 0px !important;
margin-right: 10%;  
}
.divClosed {
    background: linear-gradient(to bottom, #AB254E, #FFA8EE); /* Reemplaza "tu-color-aqui" con el color deseado */
  }
  .body_nav{
    background: linear-gradient(to bottom, #FFA8EE, #ad3b5d)
  }

