Row{
  margin-right: none !important;
}


.bg-body-tertiary{
    background-color: blueviolet;
}
.navbar-toggler-icon {
  font-size: 0.8rem;
    

}
.navbar-toggler:focus {
    box-shadow: none !important;  
  
  }
.link-style {
    text-decoration: none !important;
    color:black;
  }
.imagen1{
    width: 25%; 
  margin-left: 5px;
    padding: 0.1rem;
}
.btn-close {
    margin-right: 0% !important;
  font-size: 0.8rem;

  }
.carrucel img{

  height: 250px;
  
 
}
.carrucel_fondo{
  background-color: #FFA8EE;
  
}
.imagenCarru{
  display: flex;
  justify-content: center;
  height: 22rem;
  width: 20rem;
  padding: 1rem;
}
.contenImg{
width: 100%;

display: flex;
justify-content: center;

}
.custom-shape-divider-top-1699454754 {
  
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1699454754 svg {
  position: relative;
  display: block;
  width: calc(139% + 1.3px);
  height: 50px;
}

.custom-shape-divider-top-1699454754 .shape-fill {
  fill: #FFA8EE;
}

.divProduct{
  margin:20px ;
}
.footer{
  background-color: #FFA8EE;
  width: 100%;
  height: 100px;
}
h1 .tituloHome{
 background-color: #FFA8EE;
}
