.baground_prueba {
  background-color: rgb(230, 230, 230);
}
i{
  color:white;

}

Row {
  margin-right: none !important;
}

.bg-body-tertiary {
  background-color: blueviolet;
}

.navbar-toggler-icon {
  font-size: 0.8rem;

}

.navbar-toggler:focus {
  box-shadow: none !important;

}

.link-style {
  text-decoration: none !important;
  color: black;
}
.text-center1 {
  font-size: 1.2rem;
  color: aliceblue;
}
.ultimo_momento{
  display: flex;
  flex-direction: column;
 
  align-items: center;
  position: absolute;
  top: 3rem;
  left: 5rem;
  z-index: 999;
}
.ultimo_momento h4{
 font-size: 2rem;
}
.imagen1 {
     width: 14%;
    margin-left: 0.8rem;
    padding: 0.1rem;
}

.btn-close {
  margin-right: 0% !important;
  font-size: 0.8rem;

}

.carrucel img {

  height: 250px;


}
.portaSinFondo{
  position: absolute;
  top: 2rem;
  right: 4rem;
  height: 10rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)
}
.carrucel_fondo {
  background-color: #ffa8ee;

}
.miniaturas h4{
  font-size: 1.2rem;
}
.miniaturas h6{
  font-size: 0.6rem;
}

.miniaturas span{
  font-size: 2rem;
}
.imagenCarru {
  display: flex;
  justify-content: center;
  height: 8rem;
  width: 35rem;
  margin: 1rem;
}
.cajaP{
  height: 200px;
}
.contenImg {
  width: 100%;

  display: flex;
  justify-content: center;

}

.titulos_subtitulos {
  margin: 2rem 1rem 6rem 1rem;
}

.custom-shape-divider-top-1699454754 {

  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1699454754 svg {
  position: relative;
  display: block;
  width: calc(139% + 1.3px);
  height: 50px;
}

.custom-shape-divider-top-1699454754 .shape-fill {
  fill: #FFA8EE;
}

.divProduct {
  margin: 0px;
}

.footer {
  
  width: 100%;
  height: 100px;
}

h1 .tituloHome {
  background-color: #FFA8EE;
}

.custom-shape-divider-top-1700077761 {
  border-top: 100px solid #AB254E;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1700077761 svg {
  position: relative;
  display: block;
  width: calc(174% + 5px);
  height: 100px;
}

.custom-shape-divider-top-1700077761 .shape-fill {
  fill: #AB254E;
}
.custom-shape-divider-bottom-1700336914 {
 
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1700336914 svg {
  position: relative;
  display: block;
  width: calc(190% + 1.3px);
  height: 30px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1700336914 .shape-fill {
  fill: #AB254E;
}